html{
	font-family: 'Lato', sans-serif !important;
}

/* Todo: Figure out how to have custom images generated for each post */;
h1,h2,h3, h4 {
	font-family:  'Lato', sans-serif;
	font-style: bold;
	font-weight: 700;
	margin-bottom: 0px;
}

h2 {
	margin-top: 50px;
}

h2 a { color: #333 !important; }

h3 {
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
}

h4 {
	margin: 5px;
	font-weight: 400;
}

hr {

	height: 2px;
}


header {
	background-image: url('/images/gray.png');
}

body {
	line-height: 1.6;
	background-image: url('/images/gray.png');
	font-family: 'Vollkorn', serif !important;
	font-size: 16px;
	margin-top: 0px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

figure {
	display: table;
	margin: auto;
    margin-top: 2cm;
 	margin-bottom: 2cm;
 }


figure img {
	display: block;
	margin: auto;
	width: 100%;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
	text-align: center;
	font-family:  'Lato', sans-serif;
	font-style: italic;
}

#video {
	margin: auto;
	margin-top: 2cm;
	margin-bottom: 2cm;
	width: 100%;
}

.dropdown-menu {
	min-width: 0px;
	font-size: 18px;
}

.dropdown {
	position: absolute;
	top: 30px;
	right: 30px;
  cursor: pointer;
	z-index: 2;
}

a {
    text-decoration: none;

}

.col-lg-10 a {
	color: #02779E;
}

a:hover, a:active, a.active {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a.noborder:hover {
	color: inherit;
	text-decoration: : none;
	border-bottom: none !important;
}

.headline {
	font-family: 'Lato', sans-serif;
	text-align: center;

	padding: 0px 0;
}

.headline > .container > h1 {

	font-size: 60px;
	font-weight: 900;
	margin-top: 0px;
}

.headline > .container > h2 {

	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0px;
}

.well {
	width: 90px;
}

.entry-content {
	color: 57534a;
}

header.page {
	padding-top: 30px;
	position: relative;
	margin-bottom: 0px;
}

figure.avatar {
	position:inline-block;
}

img.brain {
	width: auto;
}

footer {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* RESPONSIVE CSS */

@media (max-width: 1280px) {
	.featurette-divider {margin: 50px 0;}
	.featurette-image.pull-left {margin-right: 20px;}
	.featurette-image.pull-right {margin-left: 20px;}
	.featurette-heading {font-size: 35px;}

}

@media (max-width: 980px) {
	.featurette-divider {margin: 40px 0;}
	.featurette-image {max-width: 50%;}
	.featurette-image.pull-left {margin-right: 10px;}
	.featurette-image.pull-right {margin-left: 10px;}
	.featurette-heading {font-size: 30px;}
	body { font-size: 15px;}
}

@media (max-width: 800px) {
	.container {margin: 0 15px;}
	.featurette-divider {margin: 40px 0;}
	.featurette-heading {font-size: 25px;}
	.dropdown {
		right: 50px;
	}

}

@media (max-width: 474px) {
	.dropdown-menu { left: -40px }
	.dropdown { top: 10px }
	ol, ul { padding-left: 0px; }
	.featurette-divider {margin: 30px 0;}
	.headline .container h1 { font-size: 40px; }
	h1 {
		font-size: 25px;
	}
	.dropdown {
		top: 10px;
		right: 10px;
	}
	.dropdown-menu {
		font-size: 12px;
	}
}

@media (max-width: 375px) {
	.featurette-divider {margin: 10px 0;}
	.featurette-image {max-width: 100%;}
	.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
	.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}
