{% extends "base.html" %}

{% block meta %}
    <meta name="author" content="Neurosponge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}

    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block opengraph %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>

    {% if article.og_image %}
        <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}"/>
    {% endif %}
{% endblock %}


{% block content %}
<hr>
<section id="content" class="body">
  <header id="article_header" class="page">
    <span class="entry-title">
      <h1>{{ article.title }}</h1>
    </span>
 </header>

  <footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
  </footer><!-- /.post-info -->

  <div class="entry-content">
    <br>
    {{ article.content }}
  </div><!-- /.entry-content -->

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        var disqus_url = "{{ SITEURL }}/{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}
</section>
{% endblock %}
