{% extends "base.html" %}

{% block content %}
<section id="content" class="body">
  <header id="article_header" class="page">
    <figure class="avatar">
    <a href="{{ SITEURL }}/" class ="noborder"><img class="brain" height="100" alt="Enzo-brain" src="images/fullbrain.gif"></img></a>
    </figure>
    <h2>About Me</h2>
  </header>
  <br>
  <div class="entry-content">
    <p>I am a neuroscience graduate student who likes to have a nice place to display my random writing. I haven't been doing too much of it lately, though, as most of these posts are from the murky, soul-searching year I spent travelling before starting my degree.</p>
  </div><!-- /.entry-content -->
</section>
{% endblock %}
