{% extends "base.html" %}

{% block content %}
<section id="content" class="body">
  <header id="article_header" class="page">
    <figure class="avatar">
    <a href="{{ SITEURL }}/" class ="noborder"><img class="brain" height="100" alt="Enzo-brain" src="images/fullbrain.gif"></img></a>
    </figure>
    <h2>About Me</h2>
  </header>
  <br>
  <div class="entry-content">
    <p> I am a neurobiology student living in the murky, uncertain time between undergrad and graduate school. Writing interests me, but it proceeds slowly. My scientific interests center around neuroplasticity, life extension, cognitive enhancement, and salmon farming. I'll be using this space to post some of my thoughts about science and, perhaps, my life during this awkward gap year.</p>
  </div><!-- /.entry-content -->
</section>
{% endblock %}
