{% extends "base.html" %}

{% block content %}
<section id="content" class="body">
  <header id="article_header" class="page">
    <figure class="avatar">
    <a href="{{ SITEURL }}/" class ="noborder"><img class="brain" height="100" alt="Enzo-brain" src="images/fullbrain.gif"></img></a>
    </figure>
    <h2>About Me</h2>
  </header>
  <br>
  <div class="entry-content">
    <p>Hi, I'm Dano. A neuroscientist and newly minted web/mobile developer who enjoys sitting at the intersection of the brain, data science, and the internet.</p>
  </div><!-- /.entry-content -->
</section>
{% endblock %}
