<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <!--font -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,900,700,400italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />

        <!--css-->
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" />
        <link rel="icon" type="image/png" href="images/fullbrain.gif">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/neurosponge.css" />

        {% block meta %}
        <meta name="description" content="Neurosponge" />
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
        {% endblock %}

        {% block opengraph %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:description" content="Neurosponge"/>
        {% endblock %}

        {% endblock head %}
        {% include 'analytics.html' %}
</head>

<body>

  {% block headline %}{% endblock %}

<div class="container">
  <div class="row">
    <div class="dropdown">
      <div class="glyphicon glyphicon-collapse-down" type="button" id="dropdownMenu1" data-toggle="dropdown" style="font-size: 30px">
      </div>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ SITEURL }}/index.html">Home</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ SITEURL }}/authors.html">About</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ SITEURL }}/resume.html">Resume</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ SITEURL }}/archives.html">Archive</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ SITEURL }}/feed/all.atom.xml">Feed</a></li>
      </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12" >
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>

    <hr>
<footer style="text-align: center;">
    Powered by Pelican and Bootstrap
</footer>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.js"></script>


{% include 'disqus_script.html' %}
</body>
</html>
